Create a List: Ask the user to input 10 natural numbers and store them in a list. Print the
list.

In [8]:
list = []
num = 10
print("Enter 10 natural numbers")
for i in range(num):
    list.append(int(input()))
print(list)

Enter 10 natural numbers
1
2
34
56
8
56
78
89
70
3
[1, 2, 34, 56, 8, 56, 78, 89, 70, 3]

List Indexing: Given a list of numbers [10, 20, 30, 40, 50], access and print the
third element.

In [9]:
list= [10, 20, 30, 40, 50]
print(list[2])

30

List Slicing: Given a list of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], slice the list
to get the first 5 elements and print them.

In [10]:
list= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list[:5])

[1, 2, 3, 4, 5]

Append to List: Append the color &#39;purple&#39; to the list of colors [&#39;red&#39;, &#39;blue&#39;,
&#39;green&#39;] and print the updated list.

In [11]:
list = ['red', 'blue', 'green']
list.append('purple')
print(list)

['red', 'blue', 'green', 'purple']

Extend List: Extend the list of fruits [&#39;apple&#39;, &#39;banana&#39;] with another list
[&#39;cherry&#39;, &#39;date&#39;] and print the updated list.

In [12]:
list1 = ['apple', 'banana']
list2 = ['cherry', 'date']
list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry', 'date']

Insert into List: Insert the number 15 at the second position in the list [10, 20, 30]
and print the updated list.

In [13]:
list = [10, 20, 30]
list.insert(1, 15)
print(list)

[10, 15, 20, 30]

Remove from List: Remove the first occurrence of the element &#39;banana&#39; from the list
[&#39;apple&#39;, &#39;banana&#39;, &#39;cherry&#39;, &#39;banana&#39;] and print the updated list.

In [14]:
list = ['apple', 'banana', 'cherry', 'banana']
list.remove('banana')
print(list)

['apple', 'cherry', 'banana']

Pop from List: Pop the last element from the list [1, 2, 3, 4, 5], print the popped
element, and the updated list.

In [16]:
list= [1, 2, 3, 4, 5]
popped = list.pop()
print(popped)
print(list)

5
[1, 2, 3, 4]

Reverse List: Reverse the list [1, 2, 3, 4, 5] and print the reversed list.

In [18]:
list=[1,2,3,4,5]
list.sort(reverse=True)
print(list)

[5, 4, 3, 2, 1]

Sort List: Sort the list of names [&#39;John&#39;, &#39;Alice&#39;, &#39;Bob&#39;] in alphabetical order and
print the sorted list.

In [19]:
list = ['John', 'Alice', 'Bob']
list.sort()
print(list)

['Alice', 'Bob', 'John']

List Comprehension: Create a list of squares of the first 10 natural numbers  and print the list.

In [20]:
list=[]
for i in range(10):
    list.append(i**2)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

12. Find Max and Min: Find the maximum and minimum values in the list [4, 2, 8, 6,
5] and print them.

In [21]:
list = [4, 2, 8, 6, 5]
print(max(list))
print(min(list))

8
2

13. Sum of Elements: Calculate the sum of all elements in the list [4, 2, 8, 6, 5] and
print it.

In [22]:
list = [4, 2, 8, 6, 5]
print(sum(list))

25

14. Product of Elements: Calculate the product of all elements in the list [1, 2, 3, 4] and
print it.

In [23]:
list = [1, 2, 3, 4]
product = 1
for num in list:
    product *= num
print(product)

24

15. Remove Duplicates: Remove duplicate elements from the list [1, 2, 2, 3, 4, 4, 5]
and print the updated list.

In [24]:
list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []
for num in list:
    if num not in unique_list:
        unique_list.append(num)
print(unique_list)

[1, 2, 3, 4, 5]

16. List of Even Numbers: Create a list of even numbers from the given list [1, 2, 3, 4,
5, 6, 7, 8, 9, 10] and print it.

In [26]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2=[]
for num in list:
    if num % 2 == 0:
        list2.append(num)
print(list2)

[2, 4, 6, 8, 10]

17. List to String: Convert the list of characters [&#39;H&#39;, &#39;e&#39;, &#39;l&#39;, &#39;l&#39;, &#39;o&#39;] to a string
and print it.

In [36]:
list = ['H', 'e', 'l', 'l', 'o']
string = ''.join(list)
print(string)

Hello

18. String to List: Convert the string &quot;Hello&quot; to a list of characters and print it.

In [39]:
string= 'Hello'
list=[]
for i in string:
    list.append(i)
print(list)

['H', 'e', 'l', 'l', 'o']

19. Create a Tuple: Create a tuple with different data types (e.g., integer, float, string) and
print it.

In [40]:
tuple = (1, 2.5, 'Hello')
print(tuple)

(1, 2.5, 'Hello')

20. Access Tuple Elements: Given a tuple (&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;), access and print the
second element.

In [41]:
tuple = ('a', 'b', 'c', 'd')
print(tuple[1])

b

21. Unpack Tuple: Unpack the tuple (1, 2, 3) into three variables and print them.

In [45]:
tuple = (1, 2, 3)
a, b, c = tuple
print(a, b, c)

1 2 3

22. Concatenate Tuples: Concatenate the tuples (1, 2) and (3, 4) and print the result.

In [46]:
tuple1 = (1, 2)
tuple2 = (3, 4)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4)

23. Repeat Tuple: Repeat the tuple (1, 2, 3) three times and print the result.

In [47]:
tuple = (1, 2, 3)
repeated_tuple = tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

24. Tuple Slicing: Slice the tuple (1, 2, 3, 4, 5) to get the last three elements and print
them.

In [48]:
tuple = (1, 2, 3, 4, 5)
last_three_elements = tuple[-3:]
print(last_three_elements)

(3, 4, 5)

25. Check Element in Tuple: Check if the element &#39;b&#39; exists in the tuple (&#39;a&#39;, &#39;b&#39;, &#39;c&#39;)
and print the result.

In [49]:
tuple = ('a', 'b', 'c')
if 'b' in tuple:
    print('b exists in the tuple')
else:
    print('b does not exist in the tuple')

b exists in the tuple

26. Count Tuple Elements: Count the occurrences of the element 2 in the tuple (1, 2, 2,
3, 4) and print the result.

In [50]:
tuple = (1, 2, 2, 3, 4)
count = tuple.count(2)
print(count)

2

27. Index of Element in Tuple: Find the index of the element &#39;c&#39; in the tuple (&#39;a&#39;, &#39;b&#39;,
&#39;c&#39;, &#39;d&#39;) and print it.

In [51]:
tuple = ('a', 'b', 'c', 'd')
index = tuple.index('c')
print(index)

2

28. Convert Tuple to List: Convert the tuple (1, 2, 3) to a list and print it.

In [57]:
tuple = (1, 2, 3)
list = []
for i in tuple:
    list.append(i)
print(list)

[1, 2, 3]

29. Convert List to Tuple: Convert the list [1, 2, 3] to a tuple and print it.

In [60]:
list = [1, 2, 3]
tuple = ()
for i in list:
    tuple += (i,)
print(tuple)

(1, 2, 3)

30. Nested Tuples: Create a nested tuple ((1, 2), (3, 4), (5, 6)) and print the first
element of the second tuple.

In [61]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple[1][0])

3